doctype html
html(ng-app="sessionApp")
  head
    title Sessions
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    //- script(src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.min.js")
    script(src="public/all.js")
    link(href="public/css/default.css" type="text/css" rel="stylesheet")
  body(ng-controller="SeshController as session")
    div.fold-background
    div.container
      div.row
        div.col-md-3.col-xs-3
          p#company Sessions
        div.col-md-3.col-md-offset-6.col-xs-5.col-xs-offset-4
          img(src="public/images/kanye-profile.jpg" alt="Profile picture" class="profile-picture")
          a(href="/logout")
            img(src="public/images/logout.png" alt="Logout icon" class="logout-icon")
      div.row
        div.col-md-8.col-md-offset-2
          img(src="public/images/nike-logo.jpg" alt="Profile logo" class="profile-logo")
          h1.user Yeezus
      div.row
        div.icons.col-md-6.col-md-offset-3.col-xs-8.col-xs-offset-2
          input(type="image" class="heart-icon" src="public/images/heart-filled-icon.png" alt="Heart icon")
          input(type="image" class="checkmark-icon" src="public/images/checkmark-icon.png" alt="Checkmark icon")
          input(type="image" class="user-icon" src="public/images/user-icon.png" alt="User icon")
    div.filter-container.container
      div(class="row")
        div.col-md-4.col-sm-4.col-xs-4
          div.search
            form#searchBar
              input(type="text" class="search-input" ng-model="searchSubs.name")
        div.col-md-4.col-sm-4.col-xs-4
          div.dropdown
            button.dropbtn Filter
            div.dropdown-content
              a(href ng-click="sortType = 'likes'; sortReverse = !sortReverse") Most liked
              a(href ng-click="sortType = 'comments'") Most Comments
              a(href ng-click="sortType = 'name'; sortReverse = !sortReverse") Name
        div.col-md-4.col-sm-4.col-xs-4
          button(type="button" class="create-btn" data-toggle="modal" data-target="#create") Create
                  
    div(class="flex-sessions")
      div(ng-repeat="submission in session.submissions | filter:searchSubs | orderBy:sortType:sortReverse" class="show-info")
        div.session-info
          p.submission-name {{ submission.name }}
          p.describe {{ submission.description }}
        div.sessions
          img(ng-src="{{ submission.image }}" class="subImage")
          a(href ng-click="session.deleteSesh(submission._id)")
            img(src="public/images/x.png" class="delete" alt="Delete icon")
          a(href ng-class="{ active:tab === 1 }" ng-click="tab = tab == 1 ? null: 1")
          //-   img(src="public/images/comment-icon.png" class="comment-icon" alt="comment icon")
          //- span.comments {{ submission.comments }}
          a(href ng-click="session.likeClick(submission._id)")
            img(src="public/images/heart-icon.png" class="like-icon" alt="heart icon")
          span.likes {{ submission.likes }}
        div(class="session-comments" ng-show="tab === 1")
          div(ng-repeat="chat in submission.chats")
            span.chatter {{ chat.author }}
            p.chat {{ chat.body }}
          div.conversation
            form.form
            input(type="text" class="form-control chatterbox-user" placeholder="name" name="chatter")
            input(type="text" class="form-control chatterbox" placeholder="Add a comment..." name="chat")
    footer.footer.container
      div.row
        hr
        div.col-md-4.col-sm-4.col-xs-4.footies
          h4 Technologies
          p MongoDb
          p Express
          p Angular
          p Node
        div.col-md-4.col-sm-4.col-xs-4.footies
          h4 Authored By
          p Joshua Hwang
          p joshchwang@gmail.com
        div.col-md-4.footies
          a(href="#")
            img(src="public/images/facebook.png" class="social")
          a(href="#")
            img(src="public/images/instagram.png" class="social")
          a(href="#")
            img(src="public/images/twitter.png" class="social")
          a(href="https://www.linkedin.com/in/joshua-hwang-5a6384ba")
            img(src="public/images/linkedin.png" class="social")
  br
  // Modal for sign up
  div(class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="createLabel")
    div(class="modal-dialog" role="document")
      div.modal-content
        div.modal-header
          button(type="button" class="close" data-dismiss="modal" aria-label="Close") #[span(aria-hidden="true") &times;]
          h4#createLabel.modal-title Upload a session.
        div(class="modal-body")
          form(id="uploadSession" class="form" action="/upload" method="POST")
            label(for="sessionTitle") Title:
            input(type="text" class="form-control" id="sessionTitle" name="name" placeholder="Session title" ng-model="seshTitle")
            br
            label(for="sessionDescription") Description:
            textarea(class="form-control" id="sessionDescription" rows="3" name="description" placeholder="Type session description here.." ng-model="seshDescription")
            br
            input(type="text" class="form-control" name="image" placeholder="input image path here...")
            br
            button(type="submit" id="submitButton" class="btn btn-primary") Submit
            button(type="button" id="closeButton" class="btn btn-default" data-dismiss="modal") Close
