doctype html
html
  head
    title Sessions
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    link(href="public/css/default.css" type="text/css" rel="stylesheet")
  body
    div.fold-background
    div.container
      div.row
        div.col-md-3.col-xs-3
          p#company Sessions
        div.col-md-3.col-md-offset-6.col-xs-5.col-xs-offset-4
          img(src="public/images/kanye-profile.jpg" alt="Profile picture" class="profile-picture")
          a(href="/logout")
            img(src="public/images/logout.png" alt="Logout icon" class="logout-icon")
      div.row
        div.col-md-8.col-md-offset-2
          img(src="public/images/nike-logo.jpg" alt="Profile logo" class="profile-logo")
          h1.user Nike
      div.row
        div.icons.col-md-6.col-md-offset-3.col-xs-8.col-xs-offset-2
          input(type="image" class="heart-icon" src="public/images/heart-filled-icon.png" alt="Heart icon")
          input(type="image" class="checkmark-icon" src="public/images/checkmark-icon.png" alt="Checkmark icon")
          input(type="image" class="user-icon" src="public/images/user-icon.png" alt="User icon")
    div.filter-container.container
      div.row
        div.col-md-4.col-sm-4.col-xs-4
          div.search
            form#searchBar
              input(type="search" class="search-input")
        div.col-md-4.col-sm-4.col-xs-4
          div.dropdown
            button.dropbtn Popular
            div.dropdown-content
              a(href="#") Most liked
              a(href="#") Newest
              a(href="#") Oldest
        div.col-md-4.col-sm-4.col-xs-4
          button(type="button" class="create-btn" data-toggle="modal" data-target="#create") Create
          // Modal for sign up
          div(class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="createLabel")
            div(class="modal-dialog" role="document")
              div.modal-content
                div.modal-header
                  button(type="button" class="close" data-dismiss="modal" aria-label="Close") #[span(aria-hidden="true") &times;]
                  h4#createLabel.modal-title Upload a session.
                div.modal-body
                  form#uploadSession.form
                    label(for="sessionTitle") Title:
                    input(type="text" class="form-control" id="sessionTitle" placeholder="Session title")
                    br
                    label(for="sessionDescription") Description:
                    textarea(class="form-control" id="sessionDescription" rows="3" placeholder="Type session description here..")
                    br
                    input(type="file" class="file-button" file-model="myFile")
                div.modal-footer
                  button(type="button" id="closeButton" class="btn btn-default" data-dismiss="modal") Close
                  button(type="button" id="submitButton" class="btn btn-primary") Submit
    div.flex-sessions
      div.sessions
        img(src="public/images/vapor-untouchable-2.jpg" alt="Vapor untouchable 2")
      div.sessions
        img(src="public/images/air-max-1.jpg" alt="Air max 1")
      div.sessions
        img(src="public/images/eqt-support.jpg" alt="EQT support")
      div.sessions
        img(src="public/images/internationalist-premium.jpg" alt="Internationalist premium")
      div.sessions
        img(src="public/images/pure-boost-1.jpg" alt="Pure boost 1")
      div.sessions
        img(src="public/images/free-20.jpg" alt="Free 20")
      div.sessions
        img(src="public/images/socfly-black.jpg" alt="Socfly black")
      div.sessions
        img(src="public/images/huarache-light-bone.jpg" alt="Huarache light bone")
      div.sessions
        img(src="public/images/yeezy-boost-350.jpg" alt="Yeezy boost 350")
      div.sessions
        img(src="public/images/tubular-doom.jpg" alt="Tubular doom")