doctype html
html(ng-app="sessionApp")
  head
    title Sessions
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    script(src="public/all.js")
    link(href="public/css/default.css" type="text/css" rel="stylesheet")
  body(ng-controller="SeshController as session")
    div.fold-background
    div.container
      div.row
        div.col-md-3.col-xs-3
          p#company Sessions
        div.col-md-3.col-md-offset-6.col-xs-5.col-xs-offset-4
          img(src="public/images/kanye-profile.jpg" alt="Profile picture" class="profile-picture")
          a(href="/logout")
            img(src="public/images/logout.png" alt="Logout icon" class="logout-icon")
      div.row
        div.col-md-8.col-md-offset-2
          img(src="public/images/nike-logo.jpg" alt="Profile logo" class="profile-logo")
          h1.user Nike
      div.row
        div.icons.col-md-6.col-md-offset-3.col-xs-8.col-xs-offset-2
          input(type="image" class="heart-icon" src="public/images/heart-filled-icon.png" alt="Heart icon")
          input(type="image" class="checkmark-icon" src="public/images/checkmark-icon.png" alt="Checkmark icon")
          input(type="image" class="user-icon" src="public/images/user-icon.png" alt="User icon")
    div.filter-container.container
      div(class="row")
        div.col-md-4.col-sm-4.col-xs-4
          div.search
            form#searchBar
              input(type="text" class="search-input" ng-model="searchSubs.name")
        div.col-md-4.col-sm-4.col-xs-4
          div.dropdown
            button.dropbtn Filter
            div.dropdown-content
              a(href ng-click="tab(2)") Most liked
              a(href ng-click="tab(3)") Most Comments
              a(href ng-click="tab(4)") Name
        div.col-md-4.col-sm-4.col-xs-4
          button(type="button" class="create-btn" data-toggle="modal" data-target="#create") Create
                  
    div(class="flex-sessions")
      div(ng-repeat="submission in session.submissions | filter:searchSubs | orderBy:sort" class="show-info")
        div.session-info
          p.submission-name {{ submission.name }}
          p.describe {{ submission.description }}
        div.sessions
          img(ng-src="{{ submission.images }}")
          a(href ng-class="{ active:tab === 1 }" ng-click="tab = tab == 1 ? null: 1")
            img(src="public/images/comment-icon.png" class="comment-icon" alt="comment icon")
          span.comments {{ submission.comments }}
          a(href)
            img(src="public/images/heart-icon.png" class="like-icon" alt="heart icon")
          span.likes {{ submission.likes }}
        div(class="session-comments" ng-show="tab === 1")
          p this is lit
          p c'mon everyone like this so it can get made!!!
          p love it!
          p how much will they be on drop, anyone know?
          p these are firee
          p wow!
          p let's gooo you're killen the game
          p let me know when these drop fam
          p omg!!
          p blah blah blah
          p blah blah blah
          p yo yo yo blah this product is blah
          p blah blah blah
          p blah blah blah
          p yo yo yo blah this product is blah
          p blah blah blah
          p blah blah blah
          p yo yo yo blah this product is blah
  br
  // Modal for sign up
  div(class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="createLabel")
    div(class="modal-dialog" role="document")
      div.modal-content
        div.modal-header
          button(type="button" class="close" data-dismiss="modal" aria-label="Close") #[span(aria-hidden="true") &times;]
          h4#createLabel.modal-title Upload a session.
        div(class="modal-body" ng-controller="createController")
          form(id="uploadSession" enctype="multipart/form-data" class="form" action="/upload" method="POST")
            label(for="sessionTitle") Title:
            input(type="text" class="form-control" id="sessionTitle" name="name" placeholder="Session title" ng-model="seshTitle")
            br
            label(for="sessionDescription") Description:
            textarea(class="form-control" id="sessionDescription" rows="3" name="description" placeholder="Type session description here.." ng-model="seshDescription")
            br
            input(type="file" class="file-button" name="image" file-model="myFile")
            button(type="submit" id="submitButton" class="btn btn-primary" ng-click="Submit()") Submit
            button(type="button" id="closeButton" class="btn btn-default" data-dismiss="modal") Close
