doctype html
html
  head
    title Sessions
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    link(href="public/css/login.css" type="text/css" rel="stylesheet")
  body#registerBod
    div.container
      div.row
        div.col-md-4
          h2#logo Sessions
    div.container
      div.row
        div.col-md-6.col-md-offset-3
          div.register
            h2#title Sign up with us.
            form(class="form" action="/register" method="POST")
              input(type="email" class="register-form form-control" id="email" name="email" placeholder="Email")
              input(type="text" class="register-form form-control" id="username" name="username" placeholder="Username")
              input(type="password" class="register-form form-control" id="password" name="password" placeholder="Password")
              button(type="submit" class="register-btn btn btn-default") Register
            h2#registerHook Already signed up?
            a(href="/") Log in
    footer.footer.container
      div.row
        div.col-md-4.col-sm-4.col-xs-4.footies
          h4 Technologies
          p MongoDb
          p Express
          p Angular
          p Node
        div.col-md-4.col-sm-4.col-xs-4.footies
          h4 Authored By
          p Joshua Hwang
          p joshchwang@gmail.com
        div.col-md-4.footies
          a(href="#")
            img(src="public/images/facebook.png" class="social")
          a(href="#")
            img(src="public/images/instagram.png" class="social")
          a(href="#")
            img(src="public/images/twitter.png" class="social")
          a(href="https://www.linkedin.com/in/joshua-hwang-5a6384ba")
            img(src="public/images/linkedin.png" class="social")

