doctype html
html
  head
    title Sessions
    script(src="http://code.jquery.com/jquery-2.1.4.min.js")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js")
    link(href="public/css/login.css" type="text/css" rel="stylesheet")
  body
    div.register-header
    div.container
      div.row
        div.col-md-3.col-xs-3
          h1#logo Sessions
        div#logIn.col-md-3.col-xs-3.col-md-offset-6.col-xs-offset-6
          a(href="/" id="#logInStyle") Log in
    div#eatonHeader
    div.container
      div.row
        div.register.col-md-5.col-xs-9
          h2#title Sign up with us.
          form(class="form" action="/register" method="POST")
            input(type="email" class="register-form form-control" id="email" name="email" placeholder="Email")
            input(type="text" class="register-form form-control" id="username" name="username" placeholder="Username")
            input(type="password" class="register-form form-control" id="password" name="password" placeholder="Password")
            button(type="submit" class="register-btn btn btn-default") Register
    footer.footer
      div.row

