/* COLOR 
  white: #FEFEFE;
  black: #2A23C0;
  light-gray: #E2E7E5;
  darker-gray: #7D9394;
  gray: #A5A5A6;
  red:  #E45864;
*/
body {
  background-color: #FCFCFC;
}
.fold-background {
  background:
    linear-gradient(
      rgba(47, 88, 145, 0.20),
      rgba(47, 88, 145, 0.10)
    ),
    url('../images/nike-fold.jpg');
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 350px;
  -webkit-filter: brightness(45%);
}
#company {
  color: #F2F2F2;
  font-size: 30px;
  font-weight: 200;
  margin-top: 5px;
}
.alarm-icon {
  float: right;
  margin-top: 10px;
  border-right: 1px solid #A5A5A6;
  padding-right: 10px;
}
.profile-picture {
  border-radius: 100%;
  float: right;
  margin-top: 10px;
  margin-left: 15px;
}
.profile-logo {
  border-radius: 25%;
  margin-top: 25px;
  margin-bottom: -10px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.user {
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 3px;
}
.icons {
  text-align: center;
  margin-top: 15px;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
}
.heart-icon, .checkmark-icon, .user-icon {
  border: solid 2px transparent;
  border-radius: 100%;
  padding: 5px;
}
.heart-icon:hover {
  border-color: #E45864;
  -webkit-transition: border-color .7s ease;
}
.checkmark-icon:hover {
  border-color: #019FE9;
  -webkit-transition: border-color .7s ease;
}
.user-icon:hover {
  border-color: #14B876;
  -webkit-transition: border-color .7s ease;
}
.heart-icon:focus, .checkmark-icon:focus, .user-icon:focus {
  outline: 0;
}
.sessions {
  border: 1px solid #7D9394;
  width: 250px;
  height: 250px;
  display: inline-block;
}

