html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  background-color: #F4F4F4;
}
.fold-background {
  background:
    linear-gradient(
      rgba(47, 88, 145, 0.20),
      rgba(47, 88, 145, 0.10)
    ),
    url('/public/images/nike-fold.jpg');
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 350px;
  z-index: -1;
  -webkit-filter: brightness(45%);
}
#company {
  color: #F2F2F2;
  font-size: 30px;
  margin-top: 5px;
}
.logout-icon {
  float: right;
  margin-top: 10px;
  border-right: 1px solid #A5A5A6;
  border-bottom: 3px solid transparent;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 3px;
}
.logout-icon:hover {
  border-bottom-color: #FF3366;
  -webkit-transition: border-color .7s ease;
}
.profile-picture {
  border-radius: 100%;
  float: right;
  margin-top: 10px;
  margin-left: 15px;
}
.profile-logo {
  border-radius: 25%;
  margin-top: 25px;
  margin-bottom: -10px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}
.user {
  color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  letter-spacing: 3px;
}
.icons {
  text-align: center;
  margin-top: 15px;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
}
.heart-icon, .checkmark-icon, .user-icon {
  border: solid 2px transparent;
  border-radius: 100%;
  padding: 5px;
}
.heart-icon:hover {
  border-color: #E45864;
  -webkit-transition: border-color .7s ease;
}
.checkmark-icon:hover {
  border-color: #019FE9;
  -webkit-transition: border-color .7s ease;
}
.user-icon:hover {
  border-color: #14B876;
  -webkit-transition: border-color .7s ease;
}
.heart-icon:focus,
.checkmark-icon:focus,
.user-icon:focus,
.create-btn:focus, 
.dropbtn:focus,
#closeButton, 
#submitButton {
  outline: 0;
}
.filter-container {
  margin-top: 66px;
  margin-bottom: 40px;
  text-align: center;
}
.dropbtn {
  background-color: transparent;
  color: #FEFEFE;
  font-size: 17px;
  font-weight: 200;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  text-align: left;
  background-color: #F9F9F9;
  min-width: 160px;
  box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
  z-index: 5;
}
.dropdown-content a {
  font-size: 13px;
  color: #757575;
  padding: 5px 25px 5px 15px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover, .dropdown-content a:focus {
  background-color: #f1f1f1
}
.dropdown:hover .dropdown-content {
  display: block;
}
.create-btn {
  color: #FEFEFE;
  background-color: transparent;
  font-size: 17px;
  font-weight: 200;
  width: 95px;
  padding-bottom: 10px;
  border-bottom: 4px solid transparent;
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
}
.create-btn:hover {
  border-bottom-color: #FF3366;
  -webkit-transition: border-color .7s ease;
}
#uploadSession {
  text-align: left;
}
#closeButton, #submitButton {
  border-radius: 28px;
}
#submitButton {
  background-color: #FF3366;
  border-color: #FF3366;
  margin-right: 10px;
}
#createLabel {
  font-size: 25px;
  font-weight: 400;
}
label {
  font-size: 17px;
  font-weight: 400;
}
.file-button {
  font-size: 15px;
}
#submitButton:hover {
  background-color: #E23863;
  border-color: #E23863;
}
.sessions-container {
  margin-top: 125px;
}
.flex-sessions {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.session-info {
  background: rgba(244, 244, 244, 0.9);
  transition: opacity .2s;
  opacity: 0;
  color: #030303;
  position: absolute;
  width: 250px;
  height: 250px;
  margin-top: 25px;
  margin-left: 10px;
  z-index: 1;
} 
.subImage {
  margin-top: 10px;
  margin-right: 10px;
}
.sessions {
  position: relative;
  text-align: right;
  width: 270px;
  height: 290px;
  margin-top: 15px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
}
.show-info:hover .session-info {
  opacity: 1;
}
.submission-name {
  font-size: 20px;
  font-weight: 500;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 7px;
  padding-bottom: 3px;
}
.describe {
  font-size: 14px;
  font-weight: 200;
}
.submission-name, .describe {
  margin-left: 5px;
}
.clock-icon, .like-icon {
  margin-top: 4px;
  margin-right: 3px;
}
.delete {
  float: left;
  margin-top: 3px;
  margin-left: 5px;
}
.likes, .date {
  font-size: 13px;
  font-weight: 500;
  color: #8D8D8D;
  margin-right: 15px;
}
.session-comments {
  width: 270px;
  height: 225px;
  box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow-y: hidden;
}
.session-comments:hover {
  overflow-y: scroll;
}
.chatter {
  font-size: 12px;
  font-weight: 500;
  color: #0170A8;
  margin-left: 2px;
  margin-right: 3px;
  float: left;
}
.chat {
  font-size: 12px;
  margin-left: 2px;
  margin-top: 1px;
}
.conversation {
  position: absolute;
  bottom: 0;
  left: 0;
}
.chatterbox-user {
  width: 80px;
  height: 25px;
  display: inline-block;
}
.chatterbox {
  width: 175px;
  height: 25px;
  display: inline-block;
}
.chatterbox, .chatterbox-user {
  background: transparent;
  border-radius: 0px;
}
hr {
  margin-bottom: 30px;
}
.footer {
  margin-top: 20px;
}
.footies {
  color: #707070;
}
.social {
  display: inline-block;
  height: 35px;
  width: 35px;
  margin-right: 10px;
  margin-bottom: 5px;
}

/*---- SEARCH -----*/
input {
  outline: none;
}
.search-input {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  font-family: inherit;
  font-size: 100%;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button {
  display: none; 
}
.search-input {
  background: transparent url(http://goldmile.ae/updated/wp-content/plugins/ibr/img/svg/search-icon-active.svg) no-repeat 9px center;
  border: solid 1px transparent;
  padding: 5px 10px 5px 32px;
  width: 45px;
  border-radius: 10em;
  -webkit-transition: all .5s;
}
.search-input:focus {
  width: 130px;
  background-color: #fff;
  color: #FEFEFE !important;
  border-color: #66CC75;
  box-shadow: 0px 0px 5px rgba(109, 207, 246, .5);
}
input::-webkit-input-placeholder {
  color: #999;
}
.search-input {
  padding-left: 10px;
  color: transparent;
  cursor: pointer;
}
.search-input:hover {
  background-color: transparent;
}
.search-input:focus {
  width: 130px;
  padding-left: 32px;
  color: #000;
  background-color: transparent;
  cursor: auto;
}
input::-webkit-input-placeholder {
  color: transparent;
}