body {
  background-color: #FAFAFA;
}
.gisele-header {
  width: 100%;
}
#hook {
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.signup-form {
  margin-top: 30px;
}
.submit-btn {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: 500;
}
#register-hook {
  font-size: 25px;
  font-weight: 200;
  margin-bottom: 20px;
}
#signUp {
  border: none;
  background-color: transparent;
  color: #3366BB;
  font-size: 15px;
  padding: 0px;
}
#signUp:focus {
  outline: 0;
}
.line {
  margin-top: 50px; 
}
#registerForm label{
  font-size: 18px;
  font-weight: 200;
}
#registerLabel {
  font-size: 30px;
  font-weight: 200;
}
.register-form {
  margin-bottom: 30px;
}
.footer {
  border-top: 2px solid #D3D3D3;
}

/* ---- Medium devices (desktops, 992px and up) ---- */
  @media (min-width: 992px) {
    .gisele-header {
      display: none;
    }
    #hook {
      margin-top: 150px;
    }
    .gisele {
      float: left !important;
      height: auto;
      width: 576px;
    }
    .line {
      display: none;
    }
  }

/* ---- Medium devices (desktops, 1080px; and up) ---- */
  @media (min-width: 1080px) {
    .gisele {
      width: 600px;
    }
    #hook {
      font-size: 50px;
    }
    #register-hook {
      font-size: 30px;
    }
  }

/* ---- Medium devices (desktops, 1280px; and up) ---- */
  @media (min-width: 1280px) {
    .gisele {
      width: 738px;
    }
  }

/* ---- Medium devices (desktops, 1440px; and up) ---- */
  @media (min-width: 1440px) {
    .gisele {
      width: 817px;
    }
  }
