body {
  background-color: #FAFAFA;
}
.gisele-header {
  width: 100%;
}
.register {
  display: inline-block;
}
#hook {
  font-size: 40px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.signup-form {
  margin-top: 30px;
}
.submit-btn {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: 500;
}
#register-hook {
  font-size: 25px;
  font-weight: 200;
  margin-bottom: 20px;
}
.line {
  margin-top: 50px; 
}
#registerForm label{
  font-size: 18px;
  font-weight: 200;
}
#registerLabel {
  font-size: 30px;
  font-weight: 200;
}
.register-form {
  margin-bottom: 30px;
}
.footer {
  border-top: 2px solid #D3D3D3;
}

/* ----- REGISTER CSS -----*/
.register-header {
  background-color: #303030;
  width: 100%;
  height: 70px;
  position: absolute;
}
#logo {
  color: #FEFEFE;
}
#logIn, #logIn > a:link, #logIn > a:visited {
  font-size: 20px;
  padding-top: 30px;
  text-decoration: none !important;
  color: #FEFEFE !important;
}
#eatonHeader {
  background-image: url('/public/images/eaton.jpg');
  background-size: cover;
  position: absolute;
  -webkit-filter: brightness(85%);
  width: 100%;
  height: 500px;
}
.register {
  margin-top: 50px;
}
#title {
  color: white;
  margin-bottom: 25px;
}

/* ---- Medium devices (desktops, 992px and up) ---- */
  @media (min-width: 992px) {
    .gisele-header {
      display: none;
    }
    #hook {
      margin-top: 150px;
    }
    .gisele {
      float: left !important;
      height: auto;
      width: 576px;
    }
    .line {
      display: none;
    }
  }

/* ---- Medium devices (desktops, 1080px; and up) ---- */
  @media (min-width: 1080px) {
    .gisele {
      width: 600px;
    }
    #hook {
      font-size: 50px;
    }
    #register-hook {
      font-size: 30px;
    }
  }

/* ---- Medium devices (desktops, 1280px; and up) ---- */
  @media (min-width: 1280px) {
    .gisele {
      width: 737px;
    }
  }

/* ---- Medium devices (desktops, 1440px; and up) ---- */
  @media (min-width: 1440px) {
    .gisele {
      width: 817px;
    }
  }