body {
  background-color: #FAFAFA;
}
.gisele-header {
  width: 100%;
}
#hook {
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 30px;
}
.form-control {
  margin-top: 30px;
}
.submit-btn {
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 15px;
  font-weight: 500;
}
#register-hook {
  font-weight: 200;
}
#register {
  text-decoration: none;
  font-size: 15px;
}
.footer {
  border-top: 2px solid #D3D3D3;
}

/* ---- Medium devices (desktops, 992px and up) ---- */
  @media (min-width: 992px) {
    .gisele-header {
      display: none;
    }
    #hook {
      margin-top: 150px;
    }
    .gisele {
      float: left !important;
      height: auto;
      width: 576px;
    }
  }

/* ---- Medium devices (desktops, 1080px; and up) ---- */
  @media (min-width: 1080px) {
    .gisele {
      width: 600px;
    }
  }

/* ---- Medium devices (desktops, 1280px; and up) ---- */
  @media (min-width: 1280px) {
    .gisele {
      width: 738px;
    }
  }

/* ---- Medium devices (desktops, 1440px; and up) ---- */
  @media (min-width: 1440px) {
    .gisele {
      width: 817px;
    }
  }





